<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
            />
            <span
              *ngIf="
                !signUpForm.get('userData.username').valid &&
                signUpForm.get('userData.username').dirty
              "
              class="help-block"
            >
              <span
                *ngIf="
                  signUpForm.get('userData.username').errors['nameIsForbidden']
                "
                >The name is forbidden</span
              >
              <span
                *ngIf="signUpForm.get('userData.username').errors['required']"
                >The name field is empty</span
              >
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              formControlName="email"
              type="text"
              id="email"
              class="form-control"
            />
          </div>
          <span
            *ngIf="
              !signUpForm.get('userData.email').valid &&
              signUpForm.get('userData.email').dirty
            "
            class="help-block"
            >The email is invalid</span
          >
        </div>
        <span
          *ngIf="
            signUpForm.get('userData').invalid &&
            signUpForm.get('userData').touched
          "
          class="help-block"
          >The userData is invalid</span
        >
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" (click)="onAddHobby()">
            Add Hobby
          </button>
          <div class="form-group">
            <input
              *ngFor="let hobby of getHobbyControl(); let i = index"
              class="form-control"
              [formControlName]="i"
              type="text"
            />
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input formControlName="gender" type="radio" [value]="gender" />{{
              gender
            }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
