<div class="row">
  <div class="col-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <img
      src="{{ recipe?.imagePath }}"
      alt="{{ recipe?.name }}"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown show">
      <a
        class="btn btn-secondary dropdown-toggle"
        style="cursor: pointer"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
        (click)="open = !open"
      >
        Manage Recipe
      </a>

      <div
        [appDropdown]="open"
        class="dropdown-menu"
        aria-labelledby="dropdownMenuLink"
      >
        <a
          (click)="addShoppingList()"
          class="dropdown-item"
          style="cursor: pointer"
          >To shopping list</a
        >
        <a (click)="onClick()" class="dropdown-item" style="cursor: pointer"
          >Edit the recipe</a
        >
        <a class="dropdown-item" style="cursor: pointer">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe?.description }}
  </div>
</div>
<div *ngIf="recipe?.ingredients != []; else noIngredients" class="row">
  <div class="col-12">
    <ul class="list-group">
      <li *ngFor="let ingr of recipe?.ingredients" class="list-group-item">
        {{ ingr.name }} ({{ ingr.amount }})
      </li>
    </ul>
  </div>
</div>
<ng-template #noIngredients>
  <p>No Ingredients available</p>
</ng-template>
