<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        [routerLink]="['/server', server.id, 'edit']"
        [queryParams]="{ allowEdit: 1 }"
        fragment="loading"
        *ngFor="let server of servers"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button (click)="onReload()" class="btn btn-primary">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr />
    <app-server></app-server>
  </div>
</div>
