<div class="container">

  <div *ngIf="serverCreated">
    <p >{{ serverCreationStatus }}</p>
    <hr>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" name="serverName" class="form-control" [(ngModel)]="serverName">
    </div>
    <div class="col-6">
      <button (click)="onCreateServer()" [disabled]="!allowNewServer" class="btn btn-primary">Add Server</button>
    </div>

  </div>
  <hr>
  <app-server *ngFor="let name of servers; let i = index" [index] = "i+1" [server-name]="name" ></app-server>

</div>
